
  @font-face {
    font-family: 'Space Mono';
    src: url('spacemono-regular-webfont.eot');
    src: url('spacemono-regular-webfont.eot?#iefi') format('embedded-opentype'),
    url('spacemono-regular-webfont.woff2') format('woff2'),
    url('/themes/montheme/fonts/spacemono-regular-webfont.woff') format('woff'),
    
    url('spacemono-regular-webfont.svg') format('svg');
    }

body {
    font-family: 'Space Mono' ,sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: #FFFFFF;
    color: #000000;
    margin: 0 auto;
    max-width: 1440px;
}
h2{
    font-style: italic;
    font-size: 66px;
    line-height: 7vh;
    font-family: 'Space Mono';
}

a:-webkit-any-link {
    text-decoration: none;
    color: #000000;
}
header{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: auto;
    box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
   
}
.site-header{
    display: none;
}

header a img{
    margin-left: 11vh;
}

/*le menu*/

#navigation{
    margin-right: 11vh;
}
ul{
    display: flex;  
    list-style-type:none
}
a {
   
    transition: all 0.2s ease-out;
  }
  
  a:hover,
  a:focus {
    font-weight: 900;
  }
#menu-item-18{
    margin-right: 7vh; 
}
#menu-item-19{
    margin-right: 7vh; 
}
footer{
    display: flex;
    justify-content: center;
    border-top-style: solid;
    margin-top: 6vh;
}
#menu-item-27{
    margin-right: 7vh;
}
#menu-item-26{
   margin-right: 7vh;
}
#menu-item-29{
    cursor: pointer;
}
/* modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 11vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.848); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1vh solid black;
    width: 62vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.279),0 6px 20px 0 rgba(0, 0, 0, 0.461);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop;
    animation-duration: 0.6s;

    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.7s;
    animation-name: animatebottom;
    animation-duration: 0.7s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-31vh; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-31vh; opacity:0}
    to {top:0; opacity:1}
}
/* Add Animation modal */
@-webkit-keyframes animatebottom {
    from {bottom:31vh; opacity:1} 
    to {bottom:0; opacity:0}
}

@keyframes animatebottom {
    from {bottom:31vh; opacity:1}
    to {bottom:0; opacity:0}
}
.contact{
    margin-top: 2vh;
    width: 62vh;
}

.modal-body {
    display: flex;
    justify-content: center;
    padding-top: 2vh;
}

span input{
    border-radius: 0.8vh;
    border: 1px solid #B8BBC2;
    height: 4vh;
    width: 31vh;
}

span textarea{
    border-radius: 0.8vh;
    border: 1px solid #B8BBC2;
}
#wpcf7-f5-o1{
    padding-left: 2vh;
    padding-top: 2vh;
}
 input[type="submit"] {
    width: 100%;
    height: 6vh;
    border-radius: 0.20vh;
    border: 1px solid #B8BBC2;
    font-family: 'Space Mono';
}

/* single page */

.card{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
   
}
.card-img{
    width: 102vh;
  
}
.card-figure{
    width: 100%;
}

.card-txt{
   
    width: 100vh;
    
 }
.card-txt p {
    border-bottom-style: solid; 
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 58px;
}
.card-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6vh;
   
}
.card-contact button {
    height: 6vh;
    width: 20vh;
    background-color: #D8D8D8;
    font-family:'Space Mono';
    font-size: 12px;
    border: 1px solid #B8BBC2;
    border-radius: 0.2vh;
    cursor: pointer;
    
    transition: all 1s ease-out;   
}
.card-contact button:hover{
    color: white;
    background-color: black;
    font-weight: 900;
}
.row-card1{
    border-bottom-style: solid; 
    margin-left: 11vh;
    margin-right: 11vh;
}
.row-card2{
    margin-top: 11vh;
    margin-left: 11vh;
    margin-right: 11vh;
}

.fleche{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.cnt{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navigation{
    position: relative;
}

.navigation-fleche{
    width: 9vh;
    display: flex;
    justify-content: space-between;
}
.navigation-img{
    display: flex;
    
}
#nav-img1,
#nav-img2{
    width: 9vh;
    height: 8vh;
   display: none;
    
}
#fleche-ss, #fleche-pp{
    font-size: 25px;
    
}
 
/*la suite des photo*/
.card-link {
    width: 62vh;
   object-fit: cover;
  }  
.permalink{
   
    height: 57vh;
}
.card2-img{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

#btn3{
    width:28vh;
    height:6vh;
    background-color: #D8D8D8;
    font-family: 'Space Mono';
    font-size: 12px;
    margin-top: 6vh;
    margin-bottom: 6vh;
    border: 1px solid #B8BBC2;
    margin: auto;
    transition: all 1s ease-out;   
}
#btn3:hover{
    color: white;
    background-color: black;
    font-weight: 900;
    
}
.row-card2-photo{
    display: flex;
    flex-direction: column;
}
.h-plus{
    margin-bottom: 6vh;
}
#publication-list{
    display: none;
}
.pub-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 6vh;
}
figure{
    height: inherit;
}
#card2-img-plus{
    display: block;
}

  /* page d'accueil */
  .main{
    width: 100%;
  }
  .banner{
    z-index: -1;
  }

  .hero-event{
    width: 100%;
    height: auto;
  }
  .img-banner{
    z-index: 1;
    width: 80vw;
    height: 15vh;
    position: absolute;
   
  }
  .img-event{
    width: 100%;
    height: auto;
    margin: auto;
  }
  .hero{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .liste-photos{
    margin-left: 11vh;
    margin-right: 11vh;
  }
  .card2-img2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #btn4{
    width:28vh;
    height:6vh;
    background-color: #D8D8D8;
    font-family: 'Space Mono';
    font-size: 12px;
    margin-top: 6vh;
    margin-bottom: 6vh;
    border: 1px solid #B8BBC2;
    margin: auto;
    transition: all 1s ease-out;   
}
#btn4:hover{
    color: white;
    background-color: black;
    font-weight: 900;
    
}
.suite-liste{
    margin-left: 11vh;
    margin-right: 11vh;
  }
.liste{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;

  }
  /*input de la page d'accueil*/
  .input-categorie select,
  .input-format select,
  .input-trier select{
    border-radius: 0.8vh;
    border: 1px solid #B8BBC2;
    height: 4vh;
    width: 27vh;
    
  }
  .input-tax{ 
    display: flex;
    justify-content: space-between;
    width: 50%;  
  }
  .trier{
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
  }
  .inputs{
    margin-left: 11vh;
    margin-right: 11vh;
    display: flex;
    justify-content: space-between;
    margin-top: 4vw;
    margin-bottom: 3vw;
  }
  .ctg,.frm{
    margin-bottom: 2vw;
  }






  /* les media querie tablette*/
  @media screen and (max-width: 1280px){
    .card2-img2,.card2-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    H2{
        font-size: 44px;
    }
    
    .card-link {
        width: 66vh;
    }
  }
  @media screen and (max-width: 1024px){
    .card2-img2, .card2-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
   
  }
  @media screen and (max-width: 830px){
    H2{
        font-size: 30px;
    }

  }
  /* les media querie mobile */
  @media screen and (max-width: 600px){
    .container{
        display: flex;
       flex-direction: column;
       align-items: center;
    }
    .site-header{
        display: block;
    }
    .header-ordinateur{
        display: none;
    }
   .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .card-img {
    width: 75vw;
    
   }
   .card-txt {
    width: 75vw;
   
    }
   h2{
    font-size: 42px;
    line-height: 48px;   
   }
   p{
    font-size: 14px;
    line-height: 21px;
    
   }
   .card-contact{
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
   }
   .cnt{
    width: 75vw;
   }
   #btn2{
    width: 60vh;
    height: 50px;
   }
   .navigation{
    display: none;
   }
   .row-card1 {
    border-bottom-style: solid;
    /*margin-left: 8vh;
    margin-right: 8vh;*/
    display: inline-block;
    z-index: -1;
   }
   .row-card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    z-index: -1;
   }
   .card-link{
    width: 75vw;
   }
   #btn3{
    width: 65vw;
    height: 50px;
   }
   .permalink{
    height: 69vw;
   }
   .h-plus {
    margin-bottom: 2vh;
   }
   footer ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
   }
   footer li{
    margin-bottom: 2vh;
   }
   .modal-content {
    width: 85vw;
   }
   .contact{
    width: 85vw;
   }
   span textarea {
    width: 75vw;
   }
   form span input{
    width: 75vw;
   }
   .modal-body {
    margin-right: 6vw;

   }
   .inputs {
    display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding-bottom: 2vw;
   margin-left: 7vh
   }
   .input-tax{
    display: flex;
    flex-direction: column;
   }
   .trier{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   }
   .input-categorie,.input-format,.input-trier{
    margin-bottom: 4vw;
   }

   /* Menu Burgere */

  .main-navigation{
    padding-top: 5vw;
    margin-right: 10vw;
    margin-bottom: 5vw;
   }
   header a img {
    margin-left: 5vh;
    width: 43vw;
  }
  .main-navigation ul{
    display: flex;
    justify-content: space-between;
    align-items: center; 
   }
 .backdrop {
    width: 100%;
    display: none;
    overflow: hidden;
    background-color: #E00000;
    height: 72em;
  }
  .site-header {
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: white;
    height: 17vw;
  }
  .backdrop ul{
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30vw;
  }
  #closeBtn{
    display: none;
    font-size: 36px;
  }
 ul {
    list-style: none; padding: 0; z-index: 2;
    margin: 0;
  }
  .backdrop ul li {
    text-align: center;
    padding-bottom: 8vw;
  }
  .backdrop ul li a {
    text-decoration: none; 
    list-style: none; padding: 0; z-index: 2;
    line-height: 2px;
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
  }
  .burger-icon span {
    display: block;
    width: 27px;
    border: 1px solid #000000;
    margin: 6px 0;
    /*margin-right: -100px;*/
  }
  .burger-icon{
    display: block;
    border: none !important;
  }
  

}

  
    
