
  @font-face {
    font-family: 'Space Mono';
    src: url('spacemono-regular-webfont.eot');
    src: url('spacemono-regular-webfont.eot?#iefi') format('embedded-opentype'),
    url('spacemono-regular-webfont.woff2') format('woff2'),
    url('/themes/montheme/fonts/spacemono-regular-webfont.woff') format('woff'),
    
    url('spacemono-regular-webfont.svg') format('svg');
    }
    #wp-toolbar{
      display: flex;
    }
    .cat-list{
      display: flex;
      flex-direction: column;
    }

body {
    font-family: 'Space Mono' ,sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: #FFFFFF;
    color: #000000;
    margin: 0 auto;
    max-width: 1440px;
}

h2{
    font-style: italic;
    font-size: 66px;
    line-height: 7vh;
    font-family: 'Space Mono';
}

a:-webkit-any-link {
    text-decoration: none;
    color: #000000;
}
header{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: auto;
    box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
}
.site-header{
    display: none;
}
header a img{
    margin-left: 11vh;
}
/*le menu*/

#navigation{
    margin-right: 11vh;
}
ul{
    display: flex;  
    list-style-type:none
}
a { 
  transition: all 0.2s ease-out;
  color: black;
  text-decoration: none;
  }
  
  a:hover,
  a:focus {
    font-weight: 900;
  }
#menu-item-18{
    margin-right: 7vh; 
}
#menu-item-19{
    margin-right: 7vh; 
}
footer{
    display: flex;
    justify-content: center;
    border-top-style: solid;
    margin-top: 6vh;
}
#menu-item-27{
    margin-right: 7vh;
}
#menu-item-26{
   margin-right: 7vh;
}
#menu-item-29{
    cursor: pointer;
}
/* modal */
.wpcf7 form .wpcf7-response-output {
   border: none;
   color: #E00000;
   font-size: 12px;   
}

.wpcf7-not-valid-tip {
  font-size: 12px;
}
.wpcf7 form.sent .wpcf7-response-output {
  border-color:none;
 
  font-size: 12px;
  color: #000000;
 
}
.modal {
    display: none; 
    position: fixed;
    z-index: 9999; 
    padding-top: 11vh; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0, 0, 0, 0.848); 
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1vh solid black;
    width: 62vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.279),0 6px 20px 0 rgba(0, 0, 0, 0.461);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop;
    animation-duration: 0.6s;

    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.7s;
    animation-name: animatebottom;
    animation-duration: 0.7s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-31vh; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-31vh; opacity:0}
    to {top:0; opacity:1}
}
/* Add Animation modal */
@-webkit-keyframes animatebottom {
    from {bottom:31vh; opacity:1} 
    to {bottom:0; opacity:0}
}

@keyframes animatebottom {
    from {bottom:31vh; opacity:1}
    to {bottom:0; opacity:0}
}
.contact{
    margin-top: 2vh;
    width: 62vh;
}
.modal-body {
    display: flex;
    justify-content: center;
    padding-top: 2vh;
}
span input{
    border-radius: 0.8vh;
    border: 1px solid #B8BBC2;
    height: 4vh;
    width: 31vh;
}
span textarea{
    border-radius: 0.8vh;
    border: 1px solid #B8BBC2;
    width: 31vh;
}
#wpcf7-f5-o1{
    padding-left: 2vh;
    padding-top: 2vh;
}
 input[type="submit"] {
  width: 31vh;
    height: 5vh;
    border-radius: 0.20vh;
    border: 1px solid #B8BBC2;
    font-family: 'Space Mono';
    cursor: pointer;
}
/* single page */
.card{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end; 
}
.card-img{
    width: 102vh;
}
.card-figure{
    width: 100%;
    position: relative;
    margin-top: 5vh;
}
.card-figure-hover{
 width: 100%;
 height: 100%;
 top:0;
 left:0;
 position: absolute;
 background: rgba(0, 0, 0, 0.6);
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 opacity: 0;
 transition: 0.6s;
}
.card-figure-hover:hover{
  opacity: 1;
}
.card-txt{
 width: 100vh;
 }
.card-txt p {
    border-bottom-style: solid; 
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 58px;
}
.card-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6vh;  
}
.card-contact button {
    height: 6vh;
    width: 20vh;
    background-color: #D8D8D8;
    font-family:'Space Mono';
    font-size: 12px;
    border: 1px solid #B8BBC2;
    border-radius: 0.2vh;
    cursor: pointer;
    transition: all 1s ease-out;  
    transition-duration: 1000ms; 
}
.card-contact button:hover{
    color: white;
    background-color: black;
    font-weight: 900;
    transform: scale(1.1);
}
.row-card1{
    border-bottom-style: solid; 
    margin-left: 11vh;
    margin-right: 11vh;
}
.row-card2{
    margin-top: 11vh;
    margin-left: 11vh;
    margin-right: 11vh;
}

.fleche{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.cnt{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navigation{
    position: relative;
}

.navigation-fleche{
    width: 9vh;
    display: flex;
    justify-content: space-between;
}
.navigation-img{
    display: flex;
    
}
#nav-img1{
    width: 9vh;
    height: 8vh; 
}
#nav-img2{
  width: 9vh;
  height: 8vh;
  display: none; 
}
#fleche-ss, #fleche-pp{
    font-size: 25px;  
}
/*la suite des photo*/
.card-link {
    width: 62vh;
   object-fit: cover;
   position: relative;
   height: 57vh;
   margin-bottom: 2vw;
   -webkit-animation-name: anima;
   -webkit-animation-duration: 1.5s;
   animation-name: anima;
   animation-duration: 1.5s;
  } 

  @-webkit-keyframes anima {
    from {top:5vh; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes anima {
    from {top:5vh; opacity:0}
    to {top:0; opacity:1}
}
.card-figure-hover-link{
  width: 100%;
 height: 100%;
 top:0;
 left:0;
 position: absolute;
 background: rgba(0, 0, 0, 0.6);
 opacity: 0;
 transition: 0.6s;
}
.card-figure-hover-link:hover{
  opacity: 1;
}
.plein-ecran{
  width: 30px;
  height: 30px;
  margin-left: 90%;
  margin-top: 10px;
  cursor: pointer;
}
.permalink{
  display: flex;
  margin-top: 43%;
  margin-left: 45%;
  margin-right: 45%;
}
.card-link figure{
  height: 100%;
  width: 100%;
}
.hover-title-cat{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-left: 1vw;
  margin-right: 1vw;
  margin-top: 140px;
}
.hover-title-cat p a{
  color: #FFFFFF !important;
}
.card-figure-hover-link h3 {
  color: #FFFFFF;
}
.card2-img{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}
#btn3 {
    width:28vh;
    height:6vh;
    background-color: #D8D8D8;
    font-family: 'Space Mono';
    font-size: 12px;
    margin-top: 6vh;
    margin-bottom: 6vh;
    border: 1px solid #B8BBC2;
    margin: auto;
    transition: all 1s ease-out;  
    transition-duration: 1000ms;  
}
#btn3:hover{
  color: white ;
    background-color: black;
    font-weight: 900;  
    cursor: pointer;
    transform: scale(1.1);
}
.row-card2-photo{
    display: flex;
    flex-direction: column;
}
.h-plus{
    margin-bottom: 6vh;
}
#publication-list{
    display: none;
}
.pub-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 6vh;
}
figure{
    height: inherit;
}
#card2-img-plus{
    display: block;
}

/* page d'accueil */
  .main{
    width: 100%;
  }
  .banner{
    z-index: -1;
  }

  .hero-event{
    width: 100%;
    height: auto;
  }
  .img-banner{
    z-index: 1;
    width: 80vw;
    height: 15vh;
    position: absolute;
   
  }
  .img-event{
    width: 100%;
    height: auto;
    margin: auto;
  }
  .hero{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .liste-photos{
    margin-left: 11vh;
    margin-right: 11vh;
  }
  .card2-img2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #btn4{
    width:28vh;
    height:6vh;
    background-color: #D8D8D8;
    font-family: 'Space Mono';
    font-size: 12px;
    margin-top: 6vh;
    margin-bottom: 6vh;
    border: 1px solid #B8BBC2;
    margin: auto;
    transition: all 1s ease-out;  
    cursor: pointer; 
    transition-duration: 1000ms;
}
#btn4:hover{
    color: white;
    background-color: black;
    font-weight: 900;
    transform: scale(1.15);  
}
.suite-liste{
    margin-left: 11vh;
    margin-right: 11vh;
  }
.liste{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
  }
  /*input de la page d'accueil*/
  .input-categorie select,
  .input-format select,
  .input-trier select{
    border-radius: 0.8vh;
    border: 1px solid #B8BBC2;
    height: 4vh;
    width: 27vh; 
  }
  .input-tax{ 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 50%;  
  }
  .trier{
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
  }
  .inputs{
    margin-left: 11vh;
    margin-right: 11vh;
    display: flex;
    justify-content: space-between;
   
    margin-top: 4vw;
    margin-bottom: 3vw;
    flex-wrap: wrap;
  }
  .input-categorie,.input-format{
    margin-bottom: 2vh;
  }
  .ctg,.frm{
    margin-bottom: 2vw;
  }
  /* lightbox */

  .lightbox, .lightboxx{
    display: none;
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); 
    z-index: 99999;
    animation: lightboxIn 1s;
  }
  .lightbox__next,
  .lightbox__prev{
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.848); 
    border: none;
    position: fixed;
    top: 50%;
    margin-top: -14px;
    z-index: 11;
    font-size: 20px;
    opacity: .5;
    right: 0px;
  }
  .lightbox__next1,
  .lightbox__prev1{
  display: none;
  }
  .info-lightbox{
    color: #FFFFFF;
    margin-top: -14px;
    font-size: 16px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    
    
  }
  #cat-light a,
  #reff-light{
    color: #FFFFFF;
    
  }
  .lightbox__next{
    right: auto;
    left: 0px;
  }
  .lightbox__next a,
  .lightbox__prev a{
    color: #FFFFFF;
  }
  .lightbox__container {
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 13vh;
    animation: lightboxIn 1s;
        
  }
  #image-lightbox,
  #image-lightbox1{
    object-fit: cover;
    max-width: fit-content;
    height: 40vw;
    animation: lightboxIn .5s;
    margin: auto;
  }
  #image-lightbox img{
    width: 100%;
    height: 100%;
  }
  #image-lightbox figure figure img{
    max-width: 100%;
    max-height: 100%;
  }
  .lightbox__close{
    border: none;
    position: fixed;
    top:50px;
    right: 40px;
    color: #FFFFFF;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.848); 
  }
  .lightbox button{
    opacity: .5;
    cursor: pointer;
    transition: opacity .3s;
  }
  .lightbox button:hover{
    opacity: 1;
  }
  #plein-ecran-1{
    cursor: pointer;
  }
  #reff-lightbox{
    display: none;
  }
  @keyframes lightboxIn{
    from {opacity: 0;}
    to{opacity: 1;}
    
  }
  



  /* les media querie tablette*/
  @media screen and (max-width: 1280px){
    .card2-img2,.card2-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    H2{
        font-size: 44px;
    }
    
    .card-link {
        width: 66vh;
       /*height: 57vw;*/
    }
    .permalink{
      margin-top: 30%;
    }
    .hover-title-cat {
      margin-top: 10vh;
    }
}
  @media screen and (max-width: 1024px){
    .card2-img2, .card2-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .hover-title-cat {
      margin-top: 9vh;
    }
  }
  @media screen and (max-width: 912px){

    .card2-img .card-link,
    .pub-list .card-link {
      width: 66vh;
      height: 59vw;
    }
    .card-img {
      width: 152vh;
  }
    #image-lightbox{
      height: auto;
    }
    .info-lightbox {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }
    .inputs {
      display: flex;
     flex-direction: column;
     align-items: flex-start;
     padding-bottom: 2vw;
     margin-left: 12vw;
     }
     .input-tax{
      display: flex;
      flex-direction: column;
     }
     .trier{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
     }
     .input-categorie,.input-format,.input-trier{
      margin-bottom: 4vw;
     }
     .hover-title-cat {
      margin-top: 24vh;
    }
    .card2-img .hover-title-cat,
    .pub-list .hover-title-cat {
      margin-top: 13vh;
    }
  }
  @media screen and (max-width: 830px){
    H2{
        font-size: 30px;
    }
    .card-link {
      width: 66vh;
      /*height: 57vw; */
  }
   .hover-title-cat {
    margin-top: 22vh;
  }
  }
  /* les media querie mobile */
  @media screen and (max-width: 600px){
    #wp-toolbar{
      display: none;
    }
    .site-header{
        display: block;
    }
    .header-ordinateur{
        display: none;
    }
   .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .card-img {
    width: 75vw;
    
   }
   .card-txt {
    width: 75vw;
   
    }
   h2{
    /*font-size: 42px;*/
    line-height: 48px;   
   }
   p{
    font-size: 14px;
    line-height: 21px;
   }
   .card-contact{
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
   }
   .cnt{
    width: 75vw;
   }
   #btn2{
    width: 60vh;
    height: 50px;
   }
   .navigation{
    display: none;
   }
   .row-card1 {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
   }
   .row-card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
    z-index: -1;
   }
  .card-link{
    width: 75vw;
    height: 57vw;
   }
   .card2-img .card-link,
   .pub-list .card-link{
    width: 75vw;
    height: 57vw;
   }
   .card2-img .hover-title-cat,
   .pub-list .hover-title-cat {
    margin-top: 3vh;
   }
   .permalink {
    margin-top: 30%;
   }
   .permalink img{
    height: 10vw;
   }
   .hover-title-cat p,
   .hover-title-cat h3{
    font-size: 10px;
   }
   .plein-ecran{
    width: 6vw;
    height: 6vw;
   }
   .plein-ecran-1{
    width: 11vw;
   
   }
 
  #image-lightbox {
    height: auto;
   }
   #image-lightbox1 {
    height: auto;
   }
   .lightbox__container{
    margin-left: 5vh;
    margin-right: 7vh;
    margin-top: 25vh;
  }
  .lightbox__next1,
  .lightbox__prev1{
    display: block;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.848); 
    border: none;
    position: fixed;
    top: 40%;
    margin-top: -14px;
    z-index: 11;
    font-size: 15px;
    opacity: .5;
    right: 0px;
    cursor: pointer;
    transition: opacity .3s;
  }
  .lightbox__next1{
    right: auto;
    left: 0px;
  }
  .lightbox__next1 a,
  .lightbox__prev1 a{
    color: #FFFFFF;
  }

  .lightbox__next1:hover,
  .lightbox__prev1:hover{
    opacity: 1;
  }
  .lightbox__next,
  .lightbox__prev{
  display: none;
  }
  #btn3{
    width: 65vw;
    height: 50px;
  }
  .h-plus {
    margin-bottom: 2vh;
    font-size: 18px;
  }
  footer ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
  }
  footer li{
    margin-bottom: 2vh;
  }
  .modal-content {
    width: 85vw;
   }
  .contact{
    width: 85vw;
  }
  span textarea, 
  form span input,
  input[type="submit"] {
    width: 75vw;
  }
  .wpcf7 form .wpcf7-response-output {
    margin-top: -11vw;
    margin-bottom: 22vw;
}
   .modal-body {
    margin-right: 6vw;
   }
   /* Menu Burgere */

  .main-navigation{
    padding-top: 5vw;
    margin-right: 10vw;
    margin-bottom: 5vw;
   }
   header a img {
    margin-left: 5vh;
    width: 43vw;
  }
  .main-navigation ul{
    display: flex;
    justify-content: space-between;
    align-items: center; 
   }
 .backdrop {
    width: 100%;
    display: none;
    overflow: hidden;
    background-color: #E00000;
    height: 72em;
    margin-top: -10px;
    -webkit-animation-name: anima;
    -webkit-animation-duration: 1.5s;
    animation-name: animaa;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes animaa {
    from {top:-15vh; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animaa {
    from {top:-15vh; opacity:0}
    to {top:0; opacity:1}
}
  .site-header {
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: white;
    height: 17vw;
  }
  .backdrop ul{
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30vw;
  }
  #closeBtn{
    display: none;
    font-size: 36px;
  }
 ul {
    list-style: none; padding: 0; z-index: 2;
    margin: 0;
  }
  .backdrop ul li {
    text-align: center;
    padding-bottom: 8vw;
  }
  .backdrop ul li a {
    text-decoration: none; 
    list-style: none; padding: 0; z-index: 2;
    line-height: 2px;
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
  }
  .burger-icon span {
    display: block;
    width: 27px;
    border: 1px solid #000000;
    margin: 6px 0;
    /*margin-right: -100px;*/
  }
  .burger-icon{
    display: block;
    border: none !important;
  }
}
@media screen and (max-width: 540px){
.hover-title-cat{
  margin-top: 3vh;
  }
}
@media screen and (max-width: 300px){
  .permalink {
    margin-top: 20%;
  }
  .h-plus {
    margin-bottom: 2vh;
    font-size: 12px;
   }
}
    
