
  @font-face {
    font-family: 'Space Mono';
    src: url('spacemono-regular-webfont.eot');
    src: url('spacemono-regular-webfont.eot?#iefi') format('embedded-opentype'),
    url('spacemono-regular-webfont.woff2') format('woff2'),
    url('/themes/montheme/fonts/spacemono-regular-webfont.woff') format('woff'),
    
    url('spacemono-regular-webfont.svg') format('svg');
    }

body {
    font-family: 'Space Mono' ,sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: #FFFFFF;
    color: #000000;
    margin: 0 auto;
    max-width: 1440px;
}
h2{
    font-style: italic;
    font-weight: 400;
    font-size: 66px;
    line-height: 58px;
    font-family: 'Space Mono';
}

a:-webkit-any-link {
    text-decoration: none;
    color: #000000;
}
header{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: auto;
    box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
   
}

header a img{
    margin-left: 90px;
}
#navigation{
    margin-right: 90px;
}
ul{
    display: flex;  
    list-style-type:none
}
#menu-item-18{
    margin-right: 60px; 
}
#menu-item-19{
    margin-right: 60px; 
}
footer{
    display: flex;
    justify-content: center;
    border-top-style: solid;
    margin-top: 50px;
}
#menu-item-27{
    margin-right: 60px;
}
#menu-item-26{
   margin-right: 60px;
}
#menu-item-29{
    cursor: pointer;
}
/* modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.848); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 3px solid black;
    width: 595px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.279),0 6px 20px 0 rgba(0, 0, 0, 0.461);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop;
    animation-duration: 0.6s;

    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.7s;
    animation-name: animatebottom;
    animation-duration: 0.7s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
/* Add Animation close */
@-webkit-keyframes animatebottom {
    from {bottom:300px; opacity:1} 
    to {bottom:0; opacity:0}
}

@keyframes animatebottom {
    from {bottom:300px; opacity:1}
    to {bottom:0; opacity:0}
}
.contact{
    margin-top: 20px;
}

.modal-body {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

span input{
    border-radius: 8px;
    border: 1px solid #B8BBC2;
    height: 40px;
}

span textarea{
    border-radius: 8px;
    border: 1px solid #B8BBC2;
}
#wpcf7-f5-o1{
    padding-left: 20px;
    padding-top: 20px;
}
 input[type="submit"] {
    width: 100%;
    height: 50px;
    border-radius: 2px;
    border: 1px solid #B8BBC2;
    font-family: 'Space Mono';
}

/* single page */

.card{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
   
}
.card-img{
    width: 50%px;
  
}
.card-txt{
    margin-right: 40px; 
    width: 700px;
    
 }
.card-txt p {
    border-bottom-style: solid; 
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 58px;
}
.card-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
   
}
.card-contact button {
    height: 50px;
    width: 272px;
    background-color: #D8D8D8;
    font-family:'Space Mono';
    font-size: 12px;
    border: 1px solid #B8BBC2;
    border-radius: 2px;
    cursor: pointer;
    
    transition: all 1s ease-out;   
}
.card-contact button:hover{
    color: #FE5858;
    font-size: 16px;
  background-color: #fff;
  
  box-shadow: 0px 4px 19px 8px rgba(249, 124, 124, 0.2);
}
.row-card1{
    border-bottom-style: solid; 
    margin-left: 90px;
    margin-right: 90px;
}
.row-card2{
    margin-top: 100px;
    margin-left: 90px;
    margin-right: 90px;
}

.fleche{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.cnt{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}
.navigation{
    position: relative;
}

.navigation-fleche{
    width: 81px;
    display: flex;
    justify-content: space-between;
}
.navigation-img{
    display: flex;
    
}
.navigation-img1,
.navigation-img2{
    width: 81px;
    height: 71px;
    
}
  .fleche-s:hover {
   
   
  
}


/*la suite des photo*/
.card-link {
    width: 620px;
   object-fit: cover;
  }  
.permalink{
   
    height: 551px;
}
.card2-img{
    display: flex;
    justify-content: space-between; 
}

#btn3{
    width:272px;
    height:50px;
    background-color: #D8D8D8;
    font-family: 'Space Mono';
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #B8BBC2;
    margin: auto;
    transition: all 1s ease-out;   
}
#btn3:hover{
    color: #FE5858;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0px 4px 19px 8px rgba(249, 124, 124, 0.2);
}
.row-card2-photo{
    display: flex;
    flex-direction: column;
}
.h-plus{
    margin-bottom: 50px;
}
#publication-list{
    display: none;
}
.pub-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
figure{
    height: inherit;
}
#card2-img-plus{
    display: block;
}
a {
   
    transition: all 1s ease-out;
  }
  
  a:hover,
  a:focus {
    color: #FE5858;
    
  }
  /* page d'accueil */
  .banner{
    width: 1440px;
    height: 966px;
    z-index: -1;
  }
  .hero-event{
    width: 100%;
    height: auto;
  }
  .img-banner{
    z-index: 9999;
    position: absolute;
   
  }
  .img-event{
    width: 1000px;
    height: 142px;
    margin: auto;
  }
  .hero{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .liste-photos{
    margin-left: 90px;
    margin-right: 90px;
  }
  .card2-img2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #btn4{
    width:272px;
    height:50px;
    background-color: #D8D8D8;
    font-family: 'Space Mono';
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #B8BBC2;
    margin: auto;
    transition: all 1s ease-out;   
}
#btn4:hover{
    color: #FE5858;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0px 4px 19px 8px rgba(249, 124, 124, 0.2);
}
.suite-liste{
    margin-left: 90px;
    margin-right: 90px;
  }
.liste{
    display: flex;
    flex-direction: column;
    align-items: center;

  }


  
    
