
  @font-face {
    font-family: 'Space Mono';
    src: url('spacemono-regular-webfont.eot');
    src: url('spacemono-regular-webfont.eot?#iefi') format('embedded-opentype'),
    url('spacemono-regular-webfont.woff2') format('woff2'),
    url('/themes/montheme/fonts/spacemono-regular-webfont.woff') format('woff'),
    
    url('spacemono-regular-webfont.svg') format('svg');
    }

body {
    font-family: 'Space Mono' ,sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background: #FFFFFF;
    color: #000000;
    margin: 0 auto;
    max-width: 1440px;
}
a:-webkit-any-link {
    text-decoration: none;
    color: #000000;
}
header{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-left: 20vh;
    margin-right: 20vh;
}
ul{
    display: flex;  
    list-style-type:none
}
#menu-item-18{
    margin-right: 60px; 
}
#menu-item-19{
    margin-right: 60px; 
}
footer{
    display: flex;
    justify-content: center;
}
#menu-item-27{
    margin-right: 60px;
}
#menu-item-26{
margin-right: 60px;
}
#menu-item-29{
    cursor: pointer;
}
/* modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.848); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 3px solid black;
    width: 595px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.279),0 6px 20px 0 rgba(0, 0, 0, 0.461);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.6s;
    animation-name: animatetop;
    animation-duration: 0.6s;

    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 0.7s;
    animation-name: animatebottom;
    animation-duration: 0.7s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
/* Add Animation close */
@-webkit-keyframes animatebottom {
    from {bottom:300px; opacity:1} 
    to {bottom:0; opacity:0}
}

@keyframes animatebottom {
    from {bottom:300px; opacity:1}
    to {bottom:0; opacity:0}
}
.contact{
    margin-top: 20px;
}

.modal-body {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

span input {
    border-radius: 8px;
    border: 1px solid #B8BBC2;
    height: 40px;
}
span textarea{
    border-radius: 8px;
    border: 1px solid #B8BBC2;
}
#wpcf7-f5-o1{
    padding-left: 20px;
    padding-top: 20px;
}
 input[type="submit"] {
    width: 100%;
    height: 50px;
    border-radius: 2px;
    border: 1px solid #B8BBC2;
}

